---
layout: default
---
<header>
  <img src="{{ site.headerimg }}" alt="{{site.title}}"/>
  <p>{{ site.subtitle }}</p>
  <p>{{ site.date }}, <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=FAccT+2025+CRAFT+-+AI+Workers%27+Inquiry+&iso=20250623T1615&p1=26&ah=2&am=15">{{site.timeframe}}</a></p>
  <p>{{ site.location }}</p>
  <a href="https://docs.google.com/forms/d/e/1FAIpQLSee53U-QswaVBYXOhzMpqFLG05a3jVDBlIJtFoyy90A_bzppQ/viewform?usp=dialog">RSVP Form</a>
</header>

{{ content }}